*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
  width: 100%;
  height: 100%;
 
}

body{
    color: white;
    background-color: black;

}
.nav-toggle, .nav-toggle2{
    display: none;
}
.mobile-links{
    display: none;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 4%;
    background-color: rgb(27, 26, 26);
    z-index: 20;  
}

.name{
    width: 25%;
    font-size: 30px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
   width: 50%;    
}
ul li{
    list-style: none;
    padding-right: 50px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 12px;
}

a{
  text-decoration: none;
  color: white;
  transform: scale(1.2);
  transition: 0.9s ease;
}
a.active{
  background-color: hsl(53, 100%, 82%);
    border-radius: 5px;
    color: black;
}
a:hover{
  text-decoration: underline;

  
  transform: scale(1.1);
}
p{
    font-size: 18px;
    padding: 10px;
}

.section-wrap{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 15%;

}
.section-wrap p{
  line-height: 30px;
}

.section-about-us{
  margin-bottom: 11%;
}
.section-button button{
  background-color: red;
  padding: 10px;
  border:none;
  border-radius: 5px;

}
.section-button button:hover{
  background-color: white;
}
.section-button button a:hover{
  color: red;
}

footer{
  background-color: rgb(27, 26, 26);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-content{
  width: 30%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.social-media-links{
  display: flex;
  align-items: center;
  width: 40%;
  margin: auto;
  justify-content: center;
  transform: scale(1.1);
  margin-bottom: 30px;
}

.social-media-links i:hover, .social-media-links svg:hover{
  color: rgb(160, 141, 141);
  font-size: 15px;
}
.social-media-links a{
  padding: 8px;
  gap: 1rem;
  padding-top: 15px;
}
.social-media-links i, .social-media-links svg{
  color: white;
  transition: 0.5s ease;
  transform: scale(1);  
}
.footer-bottom span{
  font-size:15px;
}



/* mobile-header styling */
@media (max-width: 1200px) {
  .name{
    width: 35%;
  }
    .nav-links {
      display: none;
    }
  .mobile-links li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    border-bottom: 1px white solid;
  }
  .mobile-links li:hover{
    background-color: red;
  }
   
    li i{
      width: 20px;
      border: none;
     
    }


    .nav-toggle {
      display: block;
      z-index: 26;
    }
    .nav-toggle {
      cursor: pointer;
      /* margin: 0rem 1rem; */
      display: block;
      border-radius: none;
      width: 2rem;
      border: none;
      background-color: transparent;
      aspect-ratio: 0.9;
      transition: 0.3s ease;
    }
    .nav-toggle, .nav-toggle2 i {
      color:white;
    }
    .nav-toggle,
    .nav-toggle2 i {
      font-size: 23px;
    
    }
    .nav-toggle2 {
      cursor: pointer;
      border-radius: none;
      border: none;
      background-color: transparent;
      aspect-ratio: 0.9;
      width: 2rem;
    }
  
    nav {
      margin-left: 0;
    }
    .mobile-links {
      position:fixed;
      flex-direction: column;
      top: 10%;
      /* right: 0px; */
      align-items: none;
      text-align: center;
      padding-top: 5rem;
      height: 100vh;
      width: 100%;
      line-height: 3rem;
      font: bold;
      display:block;
      transition: 700ms ease;
      margin-right: 0;
      transform: translateY(-100%);
      overflow-x: hidden;
      background-color: rgb(27, 26, 26);
      z-index: 1;
  
    }
    /* .social-media-links {
      /* width: 25%; */
    
    .section-wrap{
      margin-top: 20%;
    }
  }  

    @media(max-width:768px){
      .name{
        width: 60%;
      }
      .name h3{
        font-size: 25px;
      }
      .section-wrap{
        margin-top: 25%;
      
      }
      .social-media-links {
        width: 100%;
        margin: auto;
      }
      .footer-content{
        width: 50%;
        margin: auto;
        text-align: center;
        justify-content: center;
      }
    }